<ngx-fixed-settings-bar [styleConfig]="config">
  <div settings-icon>
    <fa-icon [icon]="faCog" size="3x"></fa-icon>
  </div>
  <div settings-body>
    <li class="header-title">Languages</li>
    <li class="active" style="margin-left: 15%;">
      <a href="javascript:void(0)" aria-label="lang-hu-img">
        <img src="./assets/images/hun.png"
        alt="hun"
        style="height:28px"/>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" aria-label="land-eng-img">
        <img src="./assets/images/eng.png"
        alt="eng"
        style="height:28px"/>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" aria-label="lang-esp-img">
        <img src="./assets/images/esp.png"
        alt="esp"
        style="height:28px"/>
      </a>
    </li>
    <li class="header-title top-line">To close click somewhere out of bar</li>
  </div>
</ngx-fixed-settings-bar>